.main{
    padding-top: 0.7em;
}
.main-left{
    float: left;
}
.main-right{
    float: right;
    font-size: 0.9em;
    display: flex;
}
.word-padding{
    padding: 1rem;
    color: black;
    text-decoration: black;
    
}
.word-padding:hover{
    text-decoration: underline;
}
.menu-icon{
    display: grid;
    padding: 8px;
    grid-template-columns: 0.5em 0.5em 0.5em;
    grid-template-rows: 0.5em 0.5em 0.5em;
    border-radius: 100%;
    }
.menu-icon:hover{
background-color: red;
}
.menu-dot{
    background-color: rgb(104, 97, 97);
    height: 0.25em;
    width: 0.25em;
    border-radius: 1em;
}
.button{
    background-color: #4285F4;
    font-size: 1em;
    border-radius: 0.3em;
    border: 0em;
    color: white;
    padding: 0.65em 2em 0.65em 2em;
}
.button:hover{
    background-color: #518ff1;
}